<!DOCTYPE html>
<html>
<head>
  <title>#bvhackathon</title>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,100" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
